<!-- <div class="btndiv">
<p class="para">Customer Roles</p>
<button class="btnrounded" color="warn" mat-raised-button>New</button>
<button class="btnrounded" color="warn" mat-raised-button>Query</button>
</div> -->

<div class="container" style="margin-top: 94px;">
    <div class="row">
        <div class="col pdiv" style="margin-left: -42px;">
            <p style="margin-top: 13px;margin-left: -6px;color: rgb(255,15,0);"><strong>Customer Roles</strong></p>
        </div>
        <div class="col btndiv"><button class="btnrounded" color="warn" mat-raised-button>New</button>
            <button class="btnrounded" color="warn" mat-raised-button>Query</button></div>
    </div>
</div>